In [5]:
import numpy as np
import pandas as pd
import statistics as stat

In [6]:
data=pd.read_csv(r'C:\Users\nithin padmanabhan\Downloads\Sales_add.csv')

In [7]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [8]:
from scipy.stats import ttest_ind

In [19]:
t_stat,p_value=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [10]:
p_value

2.614368006904645e-16

In [11]:
if p_value<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Reject Null Hypothesis

In [15]:
from scipy.stats import chi2_contingency

In [25]:
freq_table=pd.crosstab(data['Manager'],data['Region'])

In [27]:
p_value1=chi2_contingency(freq_table).pvalue

In [28]:
p_value1

0.5493991051158094

In [29]:
if p_value1<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Accept Null Hypothesis